*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
body .row .col-12 .img{
    background-image: url(img/background-desktop1.png);
    background-repeat: no-repeat;
}

.iniciar{
    padding-left: 40%;
    padding: 1%;
    background-color: rgb(13, 13, 13);
    margin-right: 2%;
}

.iniciar form a{
    position: relative;
    display: inline-block;
    color: #ffffff;
    font-size: medium;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 5s;
}

.texto1{
    position: absolute;

}
.img{
    position: relative;
    
}
    
.explorar{
    padding: 0.6%;
    padding-left: 3%;
    padding-right: 3%;
    border: 2px solid white;
}

.explorar form a{
    position: relative;
    display: inline-block;
    color: #ffffff;
    font-size: medium;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 5s;
}

.img{
    position: relative;
    padding-top: 13%;
    padding-left: 15%;
}
.texto{
    width: 50%;
}
.botao1{
    display: flex;
    margin-top: 2%;
    position: relative;
    background-color: goldenrod;
    width: 34%;
    height: 6%;
    padding: 0.3%;
}
.botao1 .txt p{
    padding-top: 2%;
    text-transform: uppercase;
    font-size: small;
}
.desc p{
    font-size: xx-small;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 33%;
}
.comp p{
    font-size: small;
    text-transform: uppercase;
    color: chocolate;
}
.pr{
    font-size: xx-large;
    margin-top: 12%;
    letter-spacing: 2px;
    width: 80%;
}
.img .pr{
    text-align: center;
}
.pl{
    text-align: center;
    width: 80%;
}
.icones1{
    text-align: center;
    display: flex;
    font-size: xx-small;
    margin-bottom: 2%;
    margin-top: 13%;
}
.icones2{
    text-align: center;
    display: flex;
    font-size: xx-small;
    margin-left: 15%;
    width: 100%;
}

.tv{
    margin-left: 1%;
}
.himel{
    margin-left: 5%;
    display: flex;
}
.ttl1{
    margin-top: 10%;
    text-align: center;
}
.tl2{
    font-size: x-small;
}
.row .col-2{
    text-align: center;
    font-size: small;
}
.row .col-2 p{
    text-align: left;
    padding-left: 15%;
}
.anuncio{
    text-align: center;
    font-size: xx-large;
}
.dec{
    margin-left: 20%;
    width: 50%;
    font-size: medium;
}
.perg{
    text-align: center;
}
.perg p b{
    color: chocolate;
}